.h-40{
    height: 40px;
}
.h-50{
    height: 50px;
}
.h-600-800{
    height: 800px;
    min-height: 600px;
}

.p-20{
    padding: 20px;
}

.overflow-y-auto{
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }